In [1]:
from sklearn.svm import SVR

In [2]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv("https://raw.githubusercontent.com/Shreyas3108/house-price-prediction/master/kc_house_data.csv")
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [8]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [9]:
data.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [10]:
X = data.drop('price',axis=1)
y = data['price']

In [11]:
X

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [12]:
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [15]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
dtypes: float64(4), int64(15), object(1)
memory usage: 3.3+ MB

In [16]:
X = X.drop(['id','date'],axis=1)
X

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [17]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bedrooms       21613 non-null  int64
 1   bathrooms      21613 non-null  float64
 2   sqft_living    21613 non-null  int64
 3   sqft_lot       21613 non-null  int64
 4   floors         21613 non-null  float64
 5   waterfront     21613 non-null  int64
 6   view           21613 non-null  int64
 7   condition      21613 non-null  int64
 8   grade          21613 non-null  int64
 9   sqft_above     21613 non-null  int64
 10  sqft_basement  21613 non-null  int64
 11  yr_built       21613 non-null  int64
 12  yr_renovated   21613 non-null  int64
 13  zipcode        21613 non-null  int64
 14  lat            21613 non-null  float64
 15  long           21613 non-null  float64
 16  sqft_living15  21613 non-null  int64
 17  sqft_lot15     21613 non-null  int64
dtypes: float64(4), int64(14)
memory usage: 3.0 MB

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

In [21]:
X_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
20901,3,2.50,2150,4332,2.0,0,0,3,8,2150,0,2013,0,98019,47.7373,-121.969,2140,4332
19025,2,2.00,2010,3797,1.5,0,0,3,7,1450,560,1922,2004,98108,47.5596,-122.315,1660,4650
1497,3,3.50,1820,1991,2.0,0,0,3,8,1430,390,2014,0,98144,47.5960,-122.298,1550,1460
19318,4,2.50,1810,13000,1.0,0,0,4,8,1470,340,1977,0,98022,47.2202,-121.993,1850,13000
20478,3,2.50,1280,1889,3.0,0,0,3,8,1280,0,2009,0,98105,47.6619,-122.324,1450,1889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,3,2.50,2360,12987,2.0,0,0,3,8,2360,0,1983,0,98006,47.5471,-122.149,2480,11665
7305,4,2.75,2160,7200,1.0,0,0,4,7,1220,940,1976,0,98034,47.7177,-122.224,1790,7614
1338,4,2.50,3370,5000,2.0,0,0,3,9,3370,0,2006,0,98027,47.5410,-121.998,3370,5237
20191,5,2.50,3200,6455,2.0,0,0,3,9,3200,0,2009,0,98065,47.5446,-121.862,3290,7924
9773,0,0.00,2460,8049,2.0,0,0,3,8,2460,0,1990,0,98031,47.4095,-122.168,2520,8050

In [22]:
X_test

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
20,4,1.75,1620,4980,1.0,0,0,4,7,860,760,1947,0,98133,47.7025,-122.341,1400,4980
17262,3,1.75,1630,11475,1.0,0,0,4,7,1330,300,1979,0,98045,47.4635,-121.746,1630,11475
726,2,1.75,1440,5680,1.0,0,0,4,8,1440,0,1978,0,98198,47.3825,-122.319,1320,3547
6936,3,1.75,1340,12800,1.0,0,0,3,7,880,460,1981,0,98058,47.4437,-122.137,1500,7875
838,4,1.75,2510,7440,1.0,0,2,4,8,1290,1220,1962,0,98032,47.3748,-122.276,1790,8000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19077,2,1.75,1430,7921,1.0,0,0,3,7,1430,0,1983,0,98146,47.5088,-122.371,1290,8040
8238,3,1.50,2230,6000,1.0,0,1,3,8,1260,970,1968,0,98136,47.5373,-122.395,2120,7200
18321,2,1.00,1120,35500,1.0,0,0,5,6,1120,0,1961,0,98022,47.2411,-122.043,1680,66022
4439,3,2.50,3670,18505,1.0,0,4,3,10,2530,1140,1983,0,98177,47.7588,-122.376,2920,20000
5548,4,2.50,2230,8624,1.0,0,0,4,8,1430,800,1969,0,98052,47.6623,-122.152,1970,8402

In [23]:
y_train

20901    410000.0
19025    400000.0
1497     499950.0
19318    279000.0
20478    540000.0
           ...
1411     750000.0
7305     445000.0
1338     825000.0
20191    675000.0
9773     355000.0
Name: price, Length: 16209, dtype: float64

In [24]:
y_test

20        385000.0
17262     308000.0
726       210000.0
6936      315000.0
838       285000.0
           ...
19077     350000.0
8238      585000.0
18321     243950.0
4439     1250000.0
5548      565000.0
Name: price, Length: 5404, dtype: float64

In [27]:
scaler = StandardScaler()
scaled_X_train = scaler.fit_transform(X_train)
scaled_X_train

array([[-0.39305312,  0.50162741,  0.08629129, ...,  1.74256076,
         0.23179879, -0.30347837],
       [-1.45594901, -0.14653543, -0.06738606, ..., -0.71692432,
        -0.47332186, -0.29189887],
       [-0.39305312,  1.79795309, -0.27594817, ..., -0.59608257,
        -0.634912  , -0.408058  ],
       ...,
       [ 0.66984278,  0.50162741,  1.42547958, ...,  1.53641895,
         2.03867043, -0.27052413],
       [ 1.73273867,  0.50162741,  1.23887138, ...,  2.50315297,
         1.92115032, -0.172681  ],
       [-3.5817408 , -2.73918679,  0.42657684, ...,  0.32800142,
         0.79001929, -0.16809289]])

In [28]:
scaled_X_test = scaler.transform(X_test)
scaled_X_test

array([[ 0.66984278, -0.47061685, -0.49548724, ..., -0.90174112,
        -0.8552622 , -0.27988241],
       [-0.39305312, -0.47061685, -0.48451028, ...,  3.32772022,
        -0.5173919 , -0.04337658],
       [-1.45594901, -0.47061685, -0.69307239, ..., -0.74535767,
        -0.97278231, -0.33206298],
       ...,
       [-1.45594901, -1.44286111, -1.0443349 , ...,  1.21654372,
        -0.44394183,  1.9428718 ],
       [-0.39305312,  0.50162741,  1.75478818, ..., -1.15053296,
         1.37761983,  0.26704869],
       [ 0.66984278,  0.50162741,  0.17410691, ...,  0.44173484,
        -0.01793144, -0.15527533]])

In [29]:
model = SVR()

In [30]:
model.fit(scaled_X_train,y_train)

SVR()

In [31]:
y_pred = model.predict(scaled_X_test)
y_pred

array([450240.77261925, 450097.31407589, 449736.30368416, ...,
       450026.79005362, 451227.01108533, 450879.38779445])

In [32]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score()